body{
    margin: 0;
    padding: 0;
}
.image{
    background-color: aqua;
    margin: 10px auto 10px auto;
}
img{
    width: 100%;
}
.btns{
    width: 500px;
    
    margin: -5px auto 10px auto;
}
.btn3{
    float: right;
}
.btn1,.btn2,.btn3{
    padding: 5px 20px 5px 20px
}