body{
    margin: 0;
    padding: 0;
}
#one{
    width: 400px;
    height: 400px;
    background-color: blue;
    float: left;

}
#two{
    width: 400px;
    height: 400px;
    background-color: brown;
    margin-left: 800px;
    
}
#three{
    width: 400px;
    height: 400px;
    background-color: red;
    float: left;
}
#four{
    width: 400px;
    height: 400px;
    background-color: cadetblue;
    margin-left: 800px;
    
}